*{
    border: solid 1px black;
    padding: 0px;
    margin: 0px;
}

body {
  width: auto;
}

/* MAIN NAVIGATION */

.mainnav {
  height: 80px;
  width: auto;
  ul {
    display: flex;
    justify-content: flex-end;
    width: auto;
    height: 100%;
    list-style: none;
    li {
      display: flex;
      width: 90px;
      height: 100%;
      a {
        width: 100%;
        height: 100%;
      }
    }
    li:first-child {
      margin-right: auto;
    }
  }
}


/* HOMEPAGE HEADER */

h1{
  font-size: 220px;
}

p{
  font-size: 20px;
}
