* {
  border: solid 1px black;
  padding: 0px;
  margin: 0px;
}

body {
  width: auto;
}

/* MAIN NAVIGATION */
.mainnav {
  height: 80px;
  width: auto;
}

.mainnav ul {
  display: flex;
  justify-content: flex-end;
  width: auto;
  height: 100%;
  list-style: none;
}

.mainnav ul li {
  display: flex;
  width: 90px;
  height: 100%;
}

.mainnav ul li a {
  width: 100%;
  height: 100%;
}

.mainnav ul li:first-child {
  margin-right: auto;
}

/* HOMEPAGE HEADER */
h1 {
  font-size: 220px;
}

p {
  font-size: 20px;
}
