*{
    border: solid 1px black;
}

body {
  width: auto;
}

/* MAIN NAVIGATION */

.mainnav {
  height: 80px;
  width: auto;
  ul {
    display: flex;
    justify-content: flex-end;
    width: auto;
    li {
      width: 90px;
      display: inline-block;
      align: right;
    }

  }
}

/* HOMEPAGE HEADER */

h1{
  font-size: 220px;
}

p{
  font-size: 20px;
}
